.Button{
    display: flex;
    height: 83px;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    
    
}

.Button a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    
transition: 0.2s;
    padding: 0px 20px;
}

.Button a:hover,
.Button a:active,
.Button a.active {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(8,8,8,.8);
    color: white;
    
    box-shadow: 1px 2px 3px rgb(4,4,4);

    
}

