.Hero{
    border: 1px solid #fff;
    margin-bottom: 80px;
    padding: 20px;
    /* background-color: rgba(180,180,180,.1); */
    backdrop-filter: blur(5px);
}

.Hero1{
    text-align: center;
}

.Hero2{
    text-align: center;
}

.Hero3{
   text-align: center; 
}