.HeaderButtons{
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0px;
    height: 100%;
}

.spacer{
    width:auto;
    user-select: none;
}