.Header{
    position: fixed;
    display: flex;

    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color:rgba(360,360,360,.9);
    z-index: 9;

    height: 60px;
    width: 100%;
    box-shadow: 0 2px 11px rgba(0,0,0,.5); 
}

.headerLeft{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    z-index: 9;
}

.headerCenter{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;

    height:40px;
    max-width: 40px;
    padding: 10px;
    
    
}


.headerRight{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

img{
    height: 40px;
    transition: 0.2s;
    padding: 10px;
    transition: .3s;
}
img:hover{
    filter: drop-shadow(0 0 3px rgb(221, 43, 43));
}




@media (max-width: 600px) {
    .headerRight {
        display: none;
    }
    .headerLeft {
        display: none;
    }
}