.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    box-shadow: 
    0px 2px 4px -1px rgba(0,0,0,0.2), 
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 0px rgba(0,0,0,0.12);
    z-index: 9;
    
}

.headerLeft{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-start;
    z-index: 9;
}

.headerCenter{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.headerRight{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-end;
    z-index: 9;
}


img{
    max-height: 65px;
    z-index: 9;
}
