.Header{
    display: flex;

    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    box-shadow: 
    0px 2px 4px -1px rgba(0,0,0,.5), 
    0px 4px 5px 0px rgba(0,0,0,), 
    0px 1px 10px 0px rgba(0,0,0,0.12);
    z-index: 9;

    height: 80px;
    width: 100%;
    
}

.headerLeft{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    z-index: 9;
}

.headerCenter{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
    height:80%;
}

.headerRight{
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

img{
    height: 100%;
    z-index: 9;
    
}

@media (max-width: 600px) {
    .headerRight {
        display: none;
    }
    .headerLeft {
        display: none;
    }
}