
.fullWrapper{
    display: flex;
    flex-flow: column;
    height: calc(200vh - 80px);
    width:100vw;
    margin-top: 2px;

    background: linear-gradient(-45deg, #f8ef6d,#c31432, #240b36, #156e94 );
    
    color: #fff;
  
    background-size: 400% 400%;
    position: relative;
    animation: change 30s ease-in-out infinite;

    box-sizing: content-box;


}

.topWrapper{
    display: block;
    height: calc(100vh - 80px);
 

}

.bottomWrapper{
    display: block;
    height: 100vh;

}

.textWrapper{
    display: flex;
    height: 100%;
    align-items: center;
  justify-content: center;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}




